.menu {
	font-weight: bold;
	color: white;
	padding: 10px;
	background: black;
	border-radius: 15px;
}

a:visited, a:hover {
	color: white;
}

.queue_element {
	font-weight: italic;
	color: white;
	padding: 10px;
	margin: 1em;
	background: gray;
	border-radius: 20px;
}

footer {
	margin: 2em;
	text-align: center;
}